version: "3.8"

services:
  minio:
    image: minio/minio:RELEASE.2024-05-28T17-19-04Z
    container_name: git-crypt-minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data

volumes:
  minio-data:
